.articledecor {
  background: rgba(241, 86, 86, 0.425);
  float: left;
  margin: 10px;
  padding: 20px;
  width: 100%;
  border-left: 10px double #e01b01;
  color: rgba(161, 1, 1, 0.836);
  font-family: inherit;
  text-indent: 1cm;
}

.articleheading {
  font-family: 'Merriweather', serif;
  color: black;
  text-indent: 2cm;
}

.articlebody {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 15px;
  text-indent: 0cm;
  text-align: justify;
  width: 90%;
}

.commentdecor {
  background: rgb(255, 255, 255);
  float: left;
  margin: 5px;
  padding: 5px;
  width: 75%;
  border-left: 10px double #e01b01;
  color: rgba(5, 3, 3, 0.836);
  font-family: inherit;
  text-indent: 1cm;
}

.commentbody {
  font-family: 'Merriweather', serif;
  text-indent: 1cm;
}
