.commentsectiontag {
  display: flex;
  flex-direction: row wrap;
  background: rgb(248, 205, 205);
  font-family: 'Open Sans';
  margin-bottom: 3px;
  width: 100vw;
  box-sizing: border-box;
  border: 4px inset rgba(250, 11, 3, 0.94);
  align-items: center;
  align-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
